body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=submit] {
  background-color: rgb(226, 17, 17);
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 6px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
